/* navbar */
.navbar {
	padding: 1.5rem 1rem ;
}

.navbar-bg {
	background-color: #000000;
	padding: 1.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  padding: 10px;

  @include hover-focus {
    text-decoration: none;
  }
}

.nav-link {
	font-family: 'Raleway';
	font-weight: 400;
}

/* end navbar */

/* Search bar */



.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/* end navbar */

.container {
  min-width: 360px;
  max-width:1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  justify-items: center;
}

.btn {
  background: grey;
  color: darkslategrey;
  padding: 10px 0px;
  width: 150px;
  border-radius: 5px;
  border: solid 1px darkkhaki;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: darkkhaki;
  border: solid 1px Olive;
}

.filter {
  filter: grayscale(100%);
}

body.dragging,
body.dragging * {
	cursor: grabbing !important;
}
.dragged {
	position: absolute !important;
	opacity: 0.6;
	z-index: 2000;
}
.handle {
	cursor: grab;
}