
  h1 { 
  font-family: 'Abril Fatface', cursive;
  font-size: 1.4rem;
  margin:0;
}
  @media (min-width: 600px) {
	h1 {
	font-size: 1.8rem;
	}
}
@media (min-width: 992px) {
	h1 {
	font-size: 2rem;
	}
}



h2 {
	font-size: 1.2rem;
    font-family: 'Raleway';
    font-weight: 700;
}


p {
	font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.7rem;
}
   @media (min-width: 768px) {
  	p {
  	width: 75%;;
  	}
}
    
}

i {
	font-family: 'Raleway';
    font-weight: 700;


}

/* header */

.board-title {
	margin-right: 0;
}
  @media (min-width: 600px) {
  	.board-title {
  	margin-right: 2rem!important;
  }
 }


.bg-search {
	margin-right: 0;
}
  @media (min-width: 600px) {
  	.bg-search {
  	margin-right: 2rem!important;
  }
 }


/* navbar */
.navbar {
	padding: 1.5rem 1rem ;
}

.navbar-bg {
	background-color: #000000;
	padding: 1.5rem 1rem;
}

.navbar-brand {
  display: inline-block;

  line-height: inherit;
  white-space: nowrap;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
 

  @include hover-focus {
    text-decoration: none;
  }
}

.nav-link {
	font-family: 'Raleway';
	font-weight: 400;
}

/* end navbar */

/* Search bar */

.form-control {
	background-color: transparent;
	padding:0;
       padding-right: 10px;
    font-size: 1rem;
    font-family: 'Raleway';
    line-height: 1.2;
    background-color: #fff0;

    border: 0;
    
    border-radius: 0rem;
}

.bg-search {
    background-color: transparent;
    border-bottom: 1px solid #b3b3b3;   

}

/* end Search bar */

/* Masonry -layout */
.card {
	 display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top:3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;

}

@media (min-width: 600px) {
.flex-container {
	  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top:4rem;
	}
}

@media (min-width: 992px) {
.flex-container {
	  margin-left: 6rem;
  margin-right: 6rem;
	}
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    }

 @media (max-width: 600px) {
.flex-container1 {

 display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
width:100%;

	}
}   


.flex-container-masonry {
 margin-top:2rem; 

}

@media (min-width: 768px) {
.flex-container-masonry {
 margin-left: 2rem;
  margin-right: 2rem;
  margin-top:4rem; 
  }
  }	


 @media (min-width: 1200px) {
.flex-container-masonry {
 margin-left: 3rem;
  margin-right: 3rem;

  }
  }	 

/* Masonry - cards */

.card {

    border: 0;
    border-radius: 0;
    display: inline-block;
      width: 100%;

}

.card-img-top {
	 border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card-body {
	padding: 1rem 0;
}


.card-columns {
	column-count: 2;
	column-gap: 2rem;
}


.card-columns .card {
    margin-top: 0rem;
}

@media (min-width: 600px) {
.card-columns {
	column-count: 2;
	column-gap: 3rem; }
.card-columns .card {
    margin-bottom: 3rem;	

	}
}

@media (min-width: 992px) {
.card-columns {
	column-count: 3;
	column-gap: 3rem;
	}
.card-columns .card {
    margin-bottom: 3rem;	

	}	
}

@media (min-width: 1200px) {
.card-columns {
	column-count: 4;
	column-gap: 4rem;
	}
.card-columns .card {
    margin-bottom: 3rem;	

	}	
}


/* end masonry - layout cards */

.fa-th {
	transition-duration: 0.2s;
	cursor: pointer;
}

.fa-th:hover{
   color: #556475 !important;
  }


.fa-th:active{
   color: #007bff !important;
  }

.fa-th:focus{
   color: #007bff !important;
  }


.filter {
  filter: grayscale(100%);
}

.filter-off {
  filter: grayscale(0%);
}

.btn3 {
  background-color: transparent;
      display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.masonry {
	column-count: 5;
	column-gap: 3rem;

}


@media (max-width: 768px) {
   .hidden-mobile {
   display: none;
   }
}


body.dragging,
body.dragging * {
	cursor: grabbing !important;
}
.dragged {
	position: absolute !important;
	opacity: 0.6;
	z-index: 2000;
}
.handle {
	cursor: grab;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 0;
}

 
 @media (min-width: 768px) {
        .switch {
  margin-left: 1.5rem;
	}
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}